@import 'variables'
@import 'common'

.product.review-box
  .content
    display: block

    .data
      display: block

      .header
        border: none !important
        margin-bottom: 10px

        .activity-type
          color: $color-darkgrey
          font-size: 13px
          padding-left: 25px
          background: no-repeat left center
          background-image: img-url('icons/icon-review-grey.svg')
          background-size: contain
          margin-bottom: 5px
          display: block

        .title
          white-space: nowrap
          overflow: hidden
          text-overflow: ellipsis
          margin-bottom: 5px

      .review
        display: block !important
        color: $blackish-grey
        margin: 0
        height: auto

        .rating
          display: block

          .rating-container
            display: inline-block

            .items
              .rating-group
                input[type='radio'] + label
                  padding: 9px

          .rating-container.price
            float: right

            &:after
              content: ' '
              clear: right

        .description
          max-height: none
          height: auto

        .item
          font-size: 12px
          margin: 5px 0
          color: $color-darkgrey
          padding-left: 25px
          background: no-repeat left center
          background-size: contain

          &.attachments
            margin-left: 5px
            padding-left: 20px
            background-image: img-url('icons/attachment-red.svg')

          &.links
            background-image: img-url('icons/link-red.svg')

          &.tags
            background-image: img-url('icons/icon-tags-red.svg')

      .read-more-container
        text-align: right
        position: absolute
        width: 100%
        bottom: 50px
        right: 15px

        a.link
          color: $red
          font-size: 15px

      .footer
        display: block
        position: absolute
        bottom: 0
        margin: 0 auto
        padding: 10px
        width: 90%

        .created_at
          display: block
          text-align: right


// ==========  Mobile First Method  ==========
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)

// Extra Small Devices, Phones
@media only screen and (min-width : 480px)

// Small Devices, Tablets
@media only screen and (min-width : 768px)

// Medium Devices, Desktop
@media only screen and (min-width : 992px) and (max-width : 1199px)
  .product.review-box
    .content
      height: auto

      .data
        .header
          .activity-type
            padding-left: 45px

// Large Devices, Wide Screens
@media only screen and (min-width : 1200px)

// Really Large Devices, Wide Screens
@media (min-width: 1330px)
