@import 'common/variables'

.navbar
  margin-bottom: 0px
  border: none
  padding-top: 10px
  padding-bottom: 10px
  position: fixed
  width: 100%
  z-index: 900
  box-shadow: 0px 0px 6px $font-grey

  .container
    width: 95%
    padding: 5px
    @include flexbox-centered-children

    .brand
      @extend .col-sm-3
      float: left
      display: flex
      img
        width: 120px

    .navbar-right
      padding-top: 5px

    .navbar-brand
      color: $primary-grey

    .search-container
      @extend .col-sm-5
      @extend .col-sm-offset-1

      padding: 0

      form
        @extend .navbar-form
        margin: 0px
        width: 100%

        .form-group, .form-control
          width: 100%
          border-radius: 45px

    .main-nav
      @extend .col-xs-8
      @extend .col-sm-3
      @extend .col-sm-offset-1
      display: flex
      justify-content: space-between
      list-style:none
      margin-bottom: 0
      padding: 0
      text-align: right


      li
        display: flex
        align-items: center
        margin-left: 15px

        a
          color: $primary-grey
          padding: 0px

        &.write-a-review img
          width: 30px
          margin-right: 5px

        &.show-hamburger-menu
          a
            width: 35px
            height: 35px
            display: block
            background: image-url('/assets/app/icons/menu-white.svg') no-repeat center center
            background-size: contain

  &.navbar-default
    background-color: $primary-red
    color: $primary-grey
    border-bottom: 1px solid darken($primary-red, 10)

@media only screen and (max-width: $screen-xs-max)
  .navbar.navbar-default
    z-index: 901
    .container
      .search-container
        display: none
      .main-nav
        -webkit-justify-content: flex-start
        justify-content: flex-end
