<nav class="navbar navbar-default">
  <div class="container">
    <%= link_to image_tag('logos/logo-white-2.svg'), '/app', class: 'brand' %>

    <div class="search-container"></div>

    <ul class="main-nav pull-right">
      <li class="write-a-review">
        <%= link_to image_tag('icons/review.svg'), '/app/reviews/new' %>
        <%= link_to "Write a Review", '/app/reviews/new', class: 'hidden-xs' %>
      </li>
      <li class="toggle-search">
        <%= link_to image_tag('icons/icon-search-white.svg', width: '30px'), '/app/search',class: 'hidden-md hidden-lg' %>
      </li>
      <div id="hamburger-menu"></div>
    </ul>
  </div>
</nav>
