<nav class="navbar navbar-default">
  <div class="container">
    <%= link_to image_tag('logos/mark-red.svg'), '/', class: 'brand' %>

    <div class="search-container">
      <form class='form-search' role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" name="q">
        </div>
      </form>
    </div>

    <ul class="main-nav pull-right">
      <li class="toggle-search"><%= link_to "Search", '#' %></li>
      <li class="write-a-review"><%= link_to "Write a Review", '#' %></li>
      <li class="show-hamburger-menu text-hide"><%= link_to 'Menu', '#' %></li>
    </ul>
  </div>
</nav>
