<div id="welcome-message" class="welcome-message">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text text-center">
        <div class="row">
          <h1 class="header">Welcome to Fletcher</h1>
        </div>
        <div class="row">
          <p class="message text-center">
          Discover new tech, tools and software through users' experiences.
          Have you worked with a great product? Write a review and share!
          </p>
        </div>
        <div class="row">
          <a href="#" class="close-welcome">Got it!</a>
        </div>
      </div>
    </div>
  </div>
</div>
