<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>

<h1>Using React</h1>
<hr/>

<%= link_to "Sign in with Yammer", user_omniauth_authorize_path(:yammer) %>

<div id="content" data-auth-token='<%= @auth_token %>'></div>
