<div class="benefits" id="benefits">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 header">
        Use Fletcher to search and discover the latest products
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 subheaders">
        <div>See what people like you are saying about new technologies</div>
        <div>Have you worked with a great product? Write a review and share!</div>
      </div>
    </div>
    <div class="row examples">
      <div class="col-xs-4">
        <div class="image">
          <%= image_tag 'landing/discover/relevant.svg' %>
        </div>
        <div class="example-header">
          Relevant
        </div>
        <div class="example-text">
          Learn about products that are useful to you and your job
        </div>
      </div>
      <div class="col-xs-4">
        <div class="image">
          <%= image_tag 'landing/discover/current.svg' %>
        </div>
        <div class="example-header">
          Current
        </div>
        <div class="example-text">
          Discover the lastest technologies, tools and software
        </div>
      </div>
      <div class="col-xs-4">
        <div class="image">
          <%= image_tag 'landing/discover/global.svg' %>
        </div>
        <div class="example-header">
          Global
        </div>
        <div class="example-text">
          Reviews from our vast global network provide insight on each product
        </div>
      </div>
    </div>
  </div>
</div>