<div class="carousal-container">
  <div class="container">
    <div class="row hidden-xs">
      <div class="col-xs-12">
        <%= render 'carousel_slides' %>
      </div>
    </div>
    <div class="row visible-xs">
      <div class="col-xs-12">
        <%= render 'team_slides' %>
      </div>
    </div>
  </div>
</div>