<div class="image-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-5 text">
        <div class="row">
          <div class="col-xs-12 header">Discover the latest technology products.</div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <%= link_to "Sign in with Yammer", user_omniauth_authorize_path(:yammer), class: 'btn btn-red btn-hover-white' %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 subscript">
            *Connects to your existing Yammer account
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
