<div class="image-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-3 text">
        <div class="row">
          <div class="col-xs-12 header">Find the right tools for you</div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <%= link_to 'Sign in with yammer*', '/short', class: 'btn btn-red' %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 subscript">
            *Connects to your existing Yammer account
          </div>
        </div>
      </div>
    </div>
  </div>
</div>