<div class="row bullets slides" id="slideshow">

  <div class="slide">
    <div class="col-xs-8 col-xs-offset-2 bullet">
      <%= image_tag 'screenshots/discover.jpg' %>
    </div>
  </div>

  <div class="slide">
    <div class="col-xs-8 col-xs-offset-2 bullet">
      <%= image_tag 'screenshots/learn.jpg' %>
    </div>
  </div>

  <div class="slide">
    <div class="col-xs-8 col-xs-offset-2 bullet">
      <%= image_tag 'screenshots/review.jpg' %>
    </div>
  </div>

  <div class="slide">
    <div class="col-xs-8 col-xs-offset-2 bullet">
      <%= image_tag 'screenshots/share.jpg' %>
    </div>
  </div>

</div>