<div class="slideshow">
  <div class="container">
    <div class="row">
      <div class="col-xs-8">
        <%= render 'slides' %>
      </div>
      <div class="col-xs-4">
        <div class="row header">
          <div class="col-xs-12">
            <div>From the community,</div>
            <div>for the community</div>
          </div>
        </div>
        <div class="row slide-show-boxes">
          <div class="col-xs-8 col-xs-offset-2">
            <div class="row">
              <div class="col-xs-6 slide-show-box discover active">Discover</div>
              <div class="col-xs-6 slide-show-box review">Review</div>
            </div>
            <div class="row">
              <div class="col-xs-6 slide-show-box share">Share</div>
              <div class="col-xs-6 slide-show-box learn">Learn</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>