<div class="row bullets slides" id="slideshow">

  <div class="slide">
    <div class="col-xs-8 col-xs-offset-2 bullet">
      <%= image_tag "#{screenshots_path}/discover.jpg", class: "#{theme_class}-only" %>
    </div>
  </div>

  <div class="slide">
    <div class="col-xs-8 col-xs-offset-2 bullet">
      <%= image_tag "#{screenshots_path}/learn.jpg", class: "#{theme_class}-only" %>
    </div>
  </div>

  <div class="slide">
    <div class="col-xs-8 col-xs-offset-2 bullet">
      <%= image_tag "#{screenshots_path}/review.jpg", class: "#{theme_class}-only" %>
    </div>
  </div>

  <div class="slide">
    <div class="col-xs-8 col-xs-offset-2 bullet">
      <%= image_tag "#{screenshots_path}/share.jpg", class: "#{theme_class}-only" %>
    </div>
  </div>

</div>