<div class="try-it-now">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 try">Try it now!</div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <%= link_to 'Sign in with yammer*', user_omniauth_authorize_path(:yammer), class: 'btn btn-red' %>
      </div>
    </div>
  </div>
</div>
