<%= provide :header, 'red' %>

<div class="container">
  <div class="sign-in">
    <div class="row">
      <div class="col-xs-12 try">Sign in to access!</div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4">
        <%= link_to "Sign in with Yammer", user_omniauth_authorize_path(:yammer), class: 'btn btn-white' %>
      </div>
    </div>
  </div>
</div>

<%= render 'footer' %>
