@import 'common/variables'

.btn
  &.btn-red
    background: $primary-red
    color: white
    &:hover, &:active, &:focus
      color: white

  &.btn-white
    background: white
    color: $primary-red
    &:hover, &:active, &:focus
      color: $primary-red
