@import 'common/variables'

.btn, .btn:hover, .btn:active, .btn:focus
  letter-spacing: 0.125em
  text-transform: uppercase
  outline: none !important
  font-size: 12px

  &.btn-red
    background: $primary-red
    border: 2px solid $primary-red
    color: white
    &:hover, &:active, &:focus
      color: $primary-red
      background: white

  &.btn-red-inverted
    background: transparent
    border: 2px solid $primary-red
    color: $primary-red
    &:hover, &:active, &:focus
      color: white
      background: $primary-red

  &.btn-blue
    background: $highlight-blue
    border: 2px solid $highlight-blue
    color: white
    &:hover, &:active, &:focus
      color: $highlight-blue
      background: white

  &.btn-blue-inverted
    background: transparent
    border: 2px solid $highlight-blue
    color: $highlight-blue
    &:hover, &:active, &:focus
      color: white
      background: $highlight-blue

  &.btn-orange
    background: $orange
    border: 2px solid $orange
    color: white
    &:hover, &:active, &:focus
      color: $orange
      background: white

  &.btn-grey
    color: $font-grey
    border: 2px solid $font-grey
    background: white
    &:hover, &:active, &:focus, &.active
      background: $font-grey
      border-color: $font-grey
      color: white

  &.btn-white
    background: white
    color: $primary-red
    &:hover, &:active, &:focus
      color: $primary-red

  &.btn-round
    border: 1px solid
    @include round-corners(30px)
    &:hover, &:active, &:focus
      border-width: 1px


  &.btn-full
    width: 100%

  & + .btn
    margin-left: 10px