@import 'common/variables'

img
  max-width: 100%

body .navbar
  border-radius: 0px

html body
  font-family: 'Open Sans', sans-serif

form
  .form-control
    box-shadow: none

.link
  &, &:visited
    color: $primary-red
    cursor: pointer
    &.underlined
      text-decoration: underline
  &.black
    &, &:visited
      color: initial
      cursor: pointer

.grey-bottom-border
  @include grey-bottom-border
.light-grey-bottom-border
  @include light-grey-bottom-border
.dark-grey-bottom-border
  @include dark-grey-bottom-border
.last-no-border:last-child
  border: 0px

.red-bottom-border
  @include red-bottom-border

.horizontal-padding
  @include horizontal-padding
.horizontal-padding-2
  @include horizontal-padding(2)
.vertical-padding
  @include vertical-padding
.vertical-padding-2
  @include vertical-padding(2)
.vertical-padding-3
  @include vertical-padding(3)

.left-margin-2-5
  margin-left: 25px

.reverse-top-margin
  margin-top: -20px
.top-margin
  margin-top: 10px
.top-margin-2
  margin-top: 20px
.bottom-margin
  margin-bottom: 10px
.bottom-margin-2
  margin-bottom: 20px

.color-grey
  color: $grey

.color-dark-grey
  color: $grey

.color-highlight-blue
  color: $highlight-blue

.background-light-grey
  background: $light-grey

.background-grey
  @include background-grey
.background-primary-grey
  background: $primary-grey

.color-red
  color: $primary-red

.color-dark-grey
  color: $dark-grey

.uppercase
  text-transform: uppercase
.titlecase
  text-transform: uppercase

.small-text
  font-size: 12px
.medium-text
  font-size: 16px
.large-text
  font-size: 20px

.right
  float: right

.centered
  text-align: center

.shadow
  box-shadow: 0px 2px 4px $grey

.flex-vertical-centering
  display: flex
  align-items: center

.extra-space
  margin-right: 5px

.clickable
  cursor: pointer