@import 'variables'
@import 'common'

$blue-ish: #4dbcc6
$default-font-size: 15px

.product.new
  .add-symbol, .review-symbol
    width: 20px

  .add-symbol
    content: image-url('icons/icon-add.svg')

    &.black
      content: image-url('icons/icon-add-black.svg')

  .review-symbol
    content: image-url('icons/icon-review.svg')


  font-size: $default-font-size

  .help, .info, .main-content
    padding: 0 30px

  .help, .info
    @extend .col-xs-12
    @extend .col-md-3

  .help
    h1.title
      color: $red

    .instructions
      color: $dark-grey

  .main-content
    @extend .col-xs-12
    @extend .col-md-6

    .review.new
      h1.title
        margin-bottom: 5px

      .details
        .header
          h3.title
            font-weight: bolder

        .rating-container
          margin: 25px 0

        p.description
          font-size: $default-font-size - 1px

      label
        font-weight: normal
        color: $red

      .form-group
        margin: 50px 0
        label
          margin-bottom: 10px

        .help-block.with-errors
          font-weight: bolder

        input, textarea
          font-style: italic
          font-size: $default-font-size
          border-color: $grey
          box-shadow: none !important
          color: $blackish-grey

        input
          height: 45px

        input:focus, textarea:focus
          box-shadow: none !important
          border: 1px solid $red

        textarea
          padding-top: 10px
          resize: vertical

        button, button:disabled
          font-weight: bolder
          height: 45px
          background-color: $grey
          border-color: $grey
          color: $white
          opacity: 1

        &.inline
          label
            @extend .col-sm-2
            padding: 0

        &.rating
          height: 30px
          .rating-container
            height: 100%

            label
              margin: 0
              height: 30px
              width: 30px

        &.quality-review
          .fields_container
            input.form-control:focus, textarea.form-control:focus
              box-shadow: none
              color: $blackish-grey

            input.form-control, input.form-control:focus
              border-bottom: none !important
              outline: 0px none transparent
              font-size: $default-font-size + 5px
              border-bottom-left-radius: 0
              border-bottom-right-radius: 0

            textarea.form-control
              border-top-left-radius: 0!important
              border-top-right-radius: 0 !important
              border-top: 0px none transparent
              outline: 0px none transparent
              border-box: none

            &.focus
              textarea:focus, input:focus
                box-shadow: none
                border-color: $red
                animation: none

              textarea, input
                border-color: $red

        &.attachments, &.links, &.avatar, &.review-tags
          @extend .row
          margin-left: 0
          margin-right: 0

          .input-group
            @extend .col-lg-8
            padding-left: 0
            padding-right: 0

            button
              background-color: $red
              border-color: $red
              width: 115px

        &.review-tags
          .input-group

            input
              border-right-color:  $orange

            .btn
              background-color: $orange
              border-color:  $orange
              color: $white


      .actions
        padding: 50px 0
        text-align: center
        border-top: 1px solid $grey

        .btn
          margin: 20px 15px
          padding: 15px 30px
          color: $dark-grey


          &:hover, &:active, &:focus
            outline: none
            color: $white
            background: $dark-grey

        .submit
          color: $red

          &:hover, &:active, &:focus
            outline: none
            color: $white
            background: $red

          &:disabled, &.disabled
            color: $grey

  .info
    .instructions
      font-size: $default-font-size + 2px
      background: $blue-ish image-url('icons/cant-find-product.svg') no-repeat center 40px
      color: $white
      text-align: center
      padding: 80px 30px 40px
      margin-top: 120px
      @include border-radius(3px)

      .more-instructions
        padding: 0 20px

        .add-symbol
          margin: 0 10px

@media only screen and (max-width: $screen-sm-max)
  .product.new
    font-size: $default-font-size - 1px

    .help, .info, .main-content
      padding: 0 10px

      h1.title
        padding: 10px 0
        margin-bottom: 10px


    .help
      .instructions
        display: none

    .main-content
      h1.title
        display: none

      .review.new
        .form-group
          margin: 30px 0

        .actions
          padding: 30px 0

          .btn
            color: $white
            margin: 10px 0
            width: 100%
            background: $dark-grey

          .submit
            background: $red

    .info
      display: none
