@import "variables"

.search-page, .search-container
  .search-box
    border: 0px
    font-size: 50px
    outline-width: 0
  .results
    margin-top: 10px
    .title
      border-bottom: 1px solid $grey
      .name
        float: left
        font-size: 14px
        text-transform: uppercase
      .size
        float: right

        #sort
          margin-left: 10px
          border: none
          background-color: white


    .result
      padding: 0px !important
      padding-top: 15px !important
      padding-bottom: 15px !important
      border-bottom: 1px solid $grey
      .name
        font-size: 18px
        text-transform: capitalize
      .description
        margin-top: 5px
        margin-bottom: 5px
        &:first-letter
          text-transform: uppercase
      .image-container
        height: 120px
        overflow: hidden

    .show-more
      width: 100%
      text-align: center
      a
        font-size: 18px
        border: 1px solid $dark-grey
        color: $dark-grey
        background: white
        padding: 10px 20px
        border-radius: 20px
        display: inline-block
        margin-top: 15px
        text-decoration: none
        &:hover, &:focus, &:active
          text-decoration: none
          background: $dark-grey
          color: white
    &.tags
      .title
        margin-bottom: 15px

    &.header
      color: black
      .result
        border-bottom: 0px

  .links
    .link
      display: block
      padding: 5px
      border-bottom: 1px solid $grey
      cursor: pointer
      &:focus, &:active, &:hover
        text-decoration: none

  .new-product
    margin-top: 25px
    padding: 25px
    background: $turquoise
    color: white
    text-align: center
    a
      display: block
      padding: 10px 25px
      background: $dark-turquoise
      color: white
      border-radius: 25px
      margin-top: 25px

.pagination
  text-align: center
  width: 100%
  .pagination-link
    padding: 5px
    cursor: pointer
    color: $medium-grey
    &.active
      color: $dark-grey
