@import "variables"

.search-page, .search-container
  .search-box
    border: 0
    font-size: 50px
    outline-width: 0

    &:disabled
      background-color: white

  .results
    .no-results
      padding: 20px 10px
      font-weight: bold
      display: block

    .title
      border-bottom: 1px solid $grey
      padding-bottom: 10px

      .name
        float: left
        font-size: 14px
        text-transform: uppercase

      #results-text-container
        color: $dark-grey
        font-size: 11px

        .value
          font-weight: bold

      .size
        float: right

      #sort-container
        float: right

        .form-group
          margin-bottom: 0

          label
            font-weight: normal
            color: $dark-grey
            font-size: 11px
            margin: 0

          #sort
            font-size: 11px
            outline: none
            margin-left: 10px
            border: none
            background-color: white
            -webkit-appearance: none
            -moz-appearance: none
            -ms-appearance: none
            -o-appearance: none
            appearance: none

            &::-ms-expand
              display: none

    .result
      padding: 0 !important
      padding-top: 15px !important
      padding-bottom: 15px !important
      border-bottom: 1px solid $grey
      .name
        font-size: 18px
      .description
        margin-top: 5px
        margin-bottom: 5px
        &:first-letter
          text-transform: uppercase
      .image-container
        height: 120px
        overflow: hidden

    .show-more
      width: 100%
      text-align: center
      a
        font-size: 18px
        border: 1px solid $dark-grey
        color: $dark-grey
        background: white
        padding: 10px 20px
        border-radius: 20px
        display: inline-block
        margin-top: 15px
        text-decoration: none
        &:hover, &:focus, &:active
          text-decoration: none
          background: $dark-grey
          color: white
    &.tags
      .title
        margin-bottom: 15px

    &.header
      color: black
      .result
        border-bottom: 0

  .results
    &.tags
      .no-results
        margin-top: -15px

  .links
    .link
      display: block
      padding: 5px
      border-bottom: 1px solid $grey
      cursor: pointer

      &:focus, &:active, &:hover
        text-decoration: none

      &.active
        font-weight: bold

  #tag-filter-container
    float: right

  .new-product
    margin-top: 25px
    padding: 25px
    background: $turquoise
    color: white
    text-align: center

    a
      display: block
      padding: 10px 25px
      background: $dark-turquoise
      color: white
      border-radius: 25px
      margin-top: 25px

  #tag-filter-container
    .results.tags
      .tag-holder
        padding-top: 10px

        .tag
          margin: 4px 4px 4px 0
          color: $dark-grey
          border-color: $dark-grey

          &.selected
            color: $orange
            border-color: $orange

      .all-tags-link
        @extend .pull-right
        margin-top: 10px
        font-size: 11px
        text-decoration: underline

.pagination
  text-align: center
  width: 100%
  .pagination-link
    color: $dark-grey
    padding: 5px
    cursor: pointer
    &.active
      font-weight: bold
