@import "variables"

.search-container
  .form-group
    position: relative
    .results-dropdown
      &::before
        display: block
        position: absolute
        transform: scale(2, 0.9)
        left: 25px
        content: image-url('/assets/app/icons/icon-dropdown-tri.svg')
      .results-holder
        position: absolute
        z-index: 100
        overflow: auto
        max-height: 75vh
        width: 630px
        margin-top: 21px
        padding: 0px 20px
        background: white
        box-shadow: 0px 1px 5px $grey
        .small-text
          display: none
