/* CSS for high-resolution devices */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)
  .image-header
    background-image: image_url('backgrounds/header@2x.jpg')

.image-header
  background-image: image_url('backgrounds/header.jpg')
  background-size: cover
  background-position: 100%
  color: white
  font-weight: 100
  .container
    position: relative
  .text
    .row
      margin-top: 100px
  .subscript
    font-size: 10px
    margin-bottom: 25px
  .header
    font-size: 35px
