.benefits
  background-image: image_url('backgrounds/benefits.jpg')
  background-size: cover
  background-position: 100%
  color: white
  text-align: center
  padding-bottom: 50px
  padding-top: 50px
  .header
    font-size: 30px
    margin-bottom: 10px
  .subheaders
    margin-bottom: 50px
    div
      margin-top: 10px
  .examples
    font-weight: 100
    .image
      img
        height: 45px
    .example-header
      margin-top: 20px
      text-transform: uppercase
      letter-spacing: 1px
    .example-text
      margin-top: 5px