@import "variables"

.back-bar
  background: $light-grey
  color: $blackish-grey
  width: 100%
  border-bottom: 1px solid $grey

  a
    font-weight: bold
    display: block
    width: 100%
    padding: 10px
    color: $blackish-grey
    &.active, &:active
      color: $blackish-grey
    &:focus, &:hover
      color: darken($blackish-grey, 10)

    &::before
      content: "<"
      margin-right: 10px
