@import 'variables'
=mw
  width: 100%
  float: left

.collections-container
  .btn
    margin-top: 10px

  .placeholder-section.message
    padding: 12px 0 20px 0

.right-arrow-after
  display: inline-flex
  align-items: center
  &::after
    display: inline-block
    content: '.'
    color: transparent
    background-image: url('icons/grey-arrow.svg')
    background-repeat: no-repeat
    background-size: contain
    width: 15px
    margin-left: 10px
    margin-right: 10px

.collections-collection
  margin-top: 70px
  .header
    border-bottom: 1px solid $light-grey
    height: 35px
    padding-bottom: 2px
  .collections-collection-row
    @include make-row
    padding: 15px 0px
    border-bottom: 1px solid $grey
    span.name:first-child
      padding-left: 20px

      &::before
        display: block
        width: 25px
        height: 25px
        content: url('icons/icon-collections-red.svg')
        position: absolute
        top: -1px
        left: -11px

    &.header
      color: $dark-grey
      font-size: 13px
      background: $light-grey
      padding: 10px 0px
      span.name::before
        content: ""
    .name
      @include make-xs-column(8)
      @include make-sm-column(6)
      +mw
    .owner
      @include make-xs-column(4)
      @include make-sm-column(3)
      +mw
      span, a
        float: left
        padding-right: 5px
    .user-link
      color: $red
    .date
      display: none
      @include make-sm-column(3)
      &.mobile
        display: block
        padding: 0
    .includes
      @include make-sm-column(12)
      display: none
      &.mobile
        display: block
      .has-n-more
        color: $red
      span:first-child
        float: left
    .product-list-link-container
      float: left
      &.list-expandable
        display: none
    .product-list-link
      text-decoration: underline

.form.collection
  .attached-fields
    textarea
      height: 100px

.results
  .result
    &.email
      .name
        padding: 3px 10px
        background: $purple-grey
        .remove-button
          text-decoration: underline
          margin-left: 10px
    &.user, &.email
      display: flex
      align-items: center
      justify-content: space-between
      padding: 10px 0px
      border-top: 1px solid $grey
      .info
        display: flex
        align-items: center
    &.user
      .remove-button
        text-decoration: underline
        font-size: 12px
        color: $primary-red
        cursor: pointer
    &.collection-product
      padding-top: 20px
      padding-bottom: 20px
      border-bottom: 1px solid $grey
      &:first-child
        padding-top: 5px
      &:last-child
        border-bottom: 0px
      .remove
        position: absolute
        top: 0px
        right: 15px
        font-size: 12px
        color: $primary-red
        cursor: pointer

.table-header
  border-bottom: 1px solid $dark-grey
  background: $light-grey
  color: $dark-grey
  padding: 10px
  &.full-width
    margin-left: -20px
    margin-right: -20px
    padding: 10px 20px

.collection-products-table
  .collection-product-row
    @include vertical-padding
    @include grey-bottom-border
    display: flex
    align-items: center
  .add-product-link
    display: inline-flex
    align-items: center
    margin-top: 25px
    &::before
      content: url('icons/icon-collections-new-red.svg')
      margin-right: 5px

.collection.form
  .attached-fields
    input.form-control:focus, textarea.form-control:focus
      box-shadow: none
      color: $blackish-grey

    input.form-control, input.form-control:focus
      border-bottom: none !important
      outline: 0px none transparent
      font-size: $default-font-size + 5px
      border-bottom-left-radius: 0
      border-bottom-right-radius: 0

    textarea.form-control
      border-top-left-radius: 0 !important
      border-top-right-radius: 0 !important
      border-top: 0px none transparent !important
      outline: 0px none transparent
      border-box: none

    &.focus
      textarea:focus, input:focus
        box-shadow: none
        border-color: $red
        animation: none

      textarea, input
        border-color: $red

  .form-group
    .help-block.with-errors
      font-weight: bolder

    input
      font-style: italic
      font-size: $default-font-size - 1px
      border-color: $grey
      box-shadow: none !important
      color: $blackish-grey

    input
      height: 45px

    input:focus, textarea:focus
      box-shadow: none !important
      border: 1px solid $red

#create-collection-mobile-modal
  display: none

@media (max-width: 480px)

  .mobile-title
    background: none
    width: 0
    height: 0
    margin-right: 0
    padding: 20px 0
    text-transform: uppercase
    font-size: 14px

  .app
    .ReactModal__Overlay
      overflow-y: scroll

      .ReactModal__Content
        .header.collections
          border-bottom-color: $grey

          .title
            line-height: 0
            padding-top: 33px
            height: 55px
            text-transform: uppercase
            font-size: 14px
            font-style: initial
          
          .title::before
            @extend .mobile-title

        .required
          margin-bottom: 10px

        .collection-products-container
          background-color: transparent

        .share-collection-container
          .header.share
            border-bottom-color: $grey
            text-transform: uppercase

            .title::before
              @extend .mobile-title

          .privacy-radios
            span
              font-size: 15px

              &::before
                width: 20px
                height: 20px

          .grey-description
            font-size: 15px

        .submission-buttons
          display: none !important

        .buttons
          display: block
          border: none !important

          button
            width: 100%
            margin: 0
            font-size: 15px
            line-height: 28px
            margin-bottom: 30px