@import 'variables'

$size: 15px

$border-width: 1px
$inner-border-width: 2px

$inactive-color: $grey
$background-color: white
$active-color: $primary-red

label
  font-size: 13px
  color: $dark-grey
  font-weight: normal
  cursor: pointer
  input
    &[type='radio'], &[type='checkbox']
      display: none
      & + span
        display: flex
        user-select: none
        align-items: center
        &::before
          display: inline-block
          margin-right: 15px
          width: $size
          height: $size
          content: '.'
          color: transparent
          background: $background-color
          box-shadow: 0px 0px 0px $border-width $inactive-color
          border: $inner-border-width solid $background-color
          border-radius: 45px
          position: relative
          left: 3px
      &:checked + span::before
        background: $active-color
        box-shadow: 0px 0px 0px $border-width $active-color
    &[type='checkbox'] + span::before
      border-radius: 0px
  &.blue
    color: $highlight-blue
    input[type='checkbox']
      & + span
        &::before
          background: white
          width: 10px
          height: 10px
          content: ''
          color: transparent
          margin-right: 10px
          position: relative
          border: solid 1px $highlight-blue
          box-shadow: none
      &:checked + span::before
        background-image: url('icons/collection-added.svg')
        background-size: contain
        background-color: $highlight-blue
