@import 'variables'

$modal-padding: 25px

=before-title
  width: 25px
  height: 25px
  margin-right: 10px

=italicize-placeholders
  &::-moz-placeholder
    font-style: italic
  &::-webkit-input-placeholder
    font-style: italic
  &::ms-input-placeholder
    font-style: italic

.app
  .ReactModal__Overlay
    z-index: 999999
    background-color: rgba(33,33,33,0.7)
    position: relative
    display: flex
    justify-content: center
    align-items: center
    &.alert-modal
      z-index: 9999999
      .ReactModal__Content
        top: -100px !important
        .no-results
          display: block
          margin: 15px 0 0 0
    .ReactModal__Content
      width: 500px
      @extend .col-xs-12
      @extend .col-xs-offset-0
      bottom: initial !important
      top: initial !important
      left: initial !important
      right: initial !important
      position: relative !important
      border-radius: 4px
      border: 0px
      padding: $modal-padding $modal-padding $modal-padding
      .header
        display: flex
        justify-content: space-between
        margin-bottom: 25px
        padding-bottom: 5px
        border-bottom: 2px solid $primary-red
        .title
          font-size: 23px
          font-style: italic
          position: relative
          top: 3px
        .close
          position: relative
          top: 4px
          background-image: url("icons/icon-modal-close.svg")
          background-repeat: no-repeat
          background-position: center
          opacity: 1
          width: 25px
          height: 25px
        &.collections
          .title::before
            +before-title
            background-image: url('icons/icon-collections-red.svg')
        &.share
          .title::before
            +before-title
            background-image: url('icons/icon-share.svg')
        &.previewing
          border-bottom: 2px solid $highlight-blue
          .title::before
            +before-title
            background-image: url('icons/icon-collection-preview-blue.svg')
        .title
          display: flex
          align-items: center
          &::before
            content: ''
            color: transparent
            background-repeat: no-repeat
            background-position: center
            background-size: contain
            display: inline-block
      .row
        padding: 2px
      .results-list-padding
        padding: 10px 0px
        border-top: 1px solid $grey
        margin: 0px
        display: block
      .collection
        transition: all 0.3s
        .privacy-radios
          font-size: 13px
          color: $dark-grey
          label
            font-weight: normal
            display: block
            margin: 16px 0 16px 0
            &:last-child
              margin: 0
      .field-messages
        display: flex
        justify-content: space-between
        flex-direction: row-reverse
        align-items: center
        .errors
          display: none
          color: $primary-red
          &.active
            display: inline-block
        .required
          display: inline-block
          text-align: right
          color: $dark-grey
          font-size: 12px
      .attached-fields
        textarea
          +italicize-placeholders
      .collection-details
        .author-and-date
          font-size: 11px
          color: $dark-grey
          .author
            color: $primary-red
            font-weight: bold
            text-decoration: underline
        .collection-sharees
          margin-bottom: 10px
        .header
          border-bottom: none
          margin-bottom: 0px
          .title
            font-size: 20px
        .collection-description
          margin-bottom: 25px
          max-height: 200px
          overflow-y: auto
          overflow-x: hidden
        .collection-products
          margin-bottom: 20px
      .grey
        background: $light-grey
        margin-left: (0px - $modal-padding)
        margin-right: (0px - $modal-padding)
        margin-bottom: (0px - $modal-padding)
        padding: $modal-padding $modal-padding $modal-padding
        border-bottom-right-radius: 4px
        border-bottom-left-radius: 4px
        margin-top: 25px
        .grey-title
          font-size: 16px
          margin-bottom: 10px
        .grey-description
          font-size: 12px
          margin-bottom: 15px
          color: $dark-grey
        &.header
          margin-top: (0px - $modal-padding)
          border-radius: 0px
          border-top-right-radius: 4px
          border-top-left-radius: 4px
          padding: 15px 25px
          border: 0px
          .user-share
            margin-left: 5px
            font-size: 11px
        .buttons
          border-top: 1px solid $grey
          padding-top: 15px
          padding-bottom: 15px
          margin-top: 15px
          &:first-child
            border-top: 0px
            padding-top: 0px
          &:last-child
            border-bottom: 0px
            padding-bottom: 0px
        &.collections-sets
          padding-top: 0px
          padding-bottom: 50px
          margin-top: 35px
          max-height: 400px
          overflow-y: auto
          overflow-x: hidden
          .collection-set
            .title-bar
              padding: 5px 25px
              background: $shadow-grey
              margin: 0px -25px
              font-size: 11px
              color: $dark-grey
          .collection
            display: flex
            justify-content: space-between
            align-items: center
            margin: 0px -25px
            padding: 15px 25px
            &:hover
              background: $medium-grey
            .collection-details
              display: flex
              .collection-icon
                background-image: url('icons/icon-collections-red.svg')
                width: 15px
                height: 15px
                background-repeat: no-repeat
                background-position: center
                background-size: cover
                display: inline-block
              .collection-info
                margin-left: 10px
                .title
                  white-space: nowrap
                  overflow: hidden
                  text-overflow: ellipsis
                  max-width: 300px
                .collection-details
                  font-size: 11px
                  color: $dark-grey
                  .author
                    color: $primary-red
                    font-weight: bold
                    padding: 0 3px
                    text-decoration: underline
            &.create-collection-link
              cursor: pointer
              .title
                display: flex
                align-items: center
                max-width: initial
                .add-collection-icon
                  background-image: url('icons/icon-collections-new-red.svg')
                  width: 25px
                  height: 25px
                  margin-right: 10px
                  background-size: 100%
                  background-position: center
                  background-repeat: no-repeat
                .collection-name
                  color: $primary-red
                  margin-left: 5px
              &:hover
                .add-collection-icon
                  background-image: url('icons/icon-collections-new-white.svg')
            &:hover
              .right-buttons
                display: flex
                align-items: center
                &.added
                  .btn-view
                    display: initial
            .right-buttons
              display: none
              &.added
                display: flex
                align-items: center
                .btn-view
                  display: none
              .already-in-collection
                display: inline-block
                font-size: 9px
                line-height: 10px
                margin-left: 10px
                color: $primary-red
      .results
        .sharee
          .owner-rank-title
            width: 144px
      .results:not(.sharee)
        max-height: 26rem
        overflow-y: auto
        overflow-x: hidden
        .review
          display: flex
          align-items: center
      .scrollable
        overflow-y: auto
        overflow-x: hidden

        .dropdown-container
          position: absolute
          right: 25px

      .buttons
        display: flex
        justify-content: center
      .new-collection-link
        color: $primary-red
        margin-top: 15px
        cursor: pointer
        text-decoration: underline
      .copy-link
        cursor: pointer

      .attachments, .links
        list-style: none

      .attachments
        list-style: none
        padding: 0
        margin-top: 0
        .attachment
          color: $dark-grey
          padding: 15px 0
          border-bottom: 1px solid $grey
          .thumbnail
            float: left
            margin-right: 20px
            max-height: 50px
            overflow: hidden
          .attachment-link
            padding: 0
            display: block
            color: $blackish-grey
            margin-bottom: 10px
          .author, .created_at
            font-size: 13px
          .created_at
            float: right

      .links
        padding-left: 0px
        .link-item
          padding: 10px 0
          text-align: left
          border-bottom: 1px solid $grey
          .link-details
            color: $dark-grey
            .link
              display: block
              text-decoration: underline
              margin-bottom: 10px
            .author, .created_at
              width: 50%
              display: inline-block
            .created_at
              text-align: right

@media (max-width: $screen-sm)
  .app
    .ReactModal__Overlay
      top: 70px !important
      &.alert-modal
        z-index: 9999999
        .ReactModal__Content
          top: 0px !important
      .ReactModal__Content
        width: 100%
        height: 100%
        left: 0px !important
        top: 0px !important
        border-radius: 0px
        overflow: scroll !important
        .footer
          margin-top: 100px
        .reviews
          color: $dark-grey
        .num-collaborators
          color: $dark-grey
        .header
          margin-bottom: 10px
          padding-bottom: 5px
          border-bottom: 1px solid $light-grey
          &.mobile
            margin-bottom: 0
            border: 0
            .title
              font-style: unset
          .title
            font-size: 16px
            &::before
              display: none
        .results:not(.sharee)
          max-height: 190px
        .scrollable
          max-height: 190px
          overflow-y: auto
          overflow-x: hidden
          .dropdown-container
            position: relative
            right: 0

        .form-group
          &.typeahead
            min-height: 0px !important
            margin-bottom: 0px !important
            max-width: 100%
          &.attached-fields
            font-size: 15px
            input.form-control
              font-size: 15px
            textarea
              height: 75px
              +italicize-placeholders
        .buttons
          display: flex
          flex-direction: column
          align-items: center
          justify-content: center
          .btn + .btn
            margin-top: 15px
            margin-left: 0px
        .close
          display: none
        .grey
          &.collections-sets
            .collection
              flex-direction: column
              align-items: flex-start
              .right-buttons
                width: 90%
                display: flex
                align-items: center
                justify-content: center
                margin-top: 13px
                margin-right: auto
                margin-left: auto
                div
                  width: 50%
                  &:first-child
                    border-top-left-radius: 5px
                    border-bottom-left-radius: 5px
                  &:last-child:not(.only-child)
                    border-top-right-radius: 5px
                    border-bottom-right-radius: 5px
                    border-left: 0
                  border-radius: 0
                  border: 2px solid $grey
                  margin-left: 0
                  &.already-in-collection
                    color: $dark-grey
                    font-size: 12px
                    text-align: center
                    line-height: 15px
                    font-style: italic
                    margin-left: 0
                    width: 50%
                    padding-top: 4px
                  height: 40px


.alert-buttons
  display: flex
  justify-content: center
  margin-top: 15px
  button
    margin: 0 3em 0 3em


@media (max-width: $screen-sm)
  .alert-buttons
    button
      margin-left: 0px
      margin-right: 0px
