@import 'variables'
@import 'functions'

.product
  .content
    height: $box-height
    background: $light-grey
    overflow: hidden
    border-top: 2px solid $red

    .data
      padding: 20px 25px 10px
      display: flex
      order: 1
      flex-direction: column
      justify-content: space-between

      .details
        max-height: 315px

        .title
          margin-top: 0
          font-weight: 600
          font-size: 18px
          text-transform: capitalize
          margin-bottom: 0
          max-height: 55px
          overflow: hidden

        .company
          font-size: 16px
          margin-top: 3px
          margin-bottom: 0px

        .description
          overflow: hidden
          font-size: 14px
          line-height: 1.25em

        .review
          display: flex
          justify-content: flex-start
          height: 30px
          color: #929497
          font-size: 0.66666666em
          margin-top: 10px
          margin-bottom: 5px

          .reviews
            margin: 0 10px

            &:before
              content: '/'
              margin-right: 10px

      .footer
        font-size: 0.60em
        border-top: 1px solid $medium-grey
        color: $dark-grey
        display: flex
        flex-direction: row
        justify-content: space-between
        padding: 10px 0

        .created_at
          float: right

    .picture
      height: 100%
      order: 2
      padding: 0

  &.box-0
    @extend .col-xs-12
    @extend .col-md-3

    .content
      height: ($box-height / 2) - 20

      .data
        .description
          display: none

  &.box-1
    @extend .col-md-3
    @extend .col-xs-12
    padding: 0

    .content
      flex-direction: column-reverse
      justify-content: space-between
      overflow: none

      .data
        @extend .col-xs-12
        @extend .col-md-12
        height: 70%

        .description
          max-height: 85px

      .picture
        @extend .col-xs-12
        @extend .col-md-12

        height: 30%
        padding: 0

  &.box-2
    @extend .col-xs-12
    @extend .col-md-6
    padding: 0

    .data
      @extend .col-xs-12
      @extend .col-md-6

    .picture
      @extend .col-xs-12
      @extend .col-md-6
      padding: 0

  &.box-3
    @extend .col-xs-12
    @extend .col-md-9
    padding: 0

    .data
      @extend .col-xs-12
      @extend .col-md-4

    .picture
      @extend .col-xs-12
      @extend .col-md-8

  &.no-pic-box
    .content
      .data
        @extend .col-xs-12
        @extend .col-md-12

        height: 100%

        .description
          max-height: 235px

      .picture
        height: 0
        display: none

@media only screen and (max-width: $screen-sm-max)
  body.app .container
    width: 100%
    overflow-x: hidden
    padding: 0
    margin: 0

  .product
    padding: 10px 0 !important

    &.box-0
      padding: 20px 0 !important

    .content
      display: flex
      flex-direction: column-reverse
      font-size: 17.5px

      .data
        height: 60%

      .picture
        height: 40%
        padding: 0

@media only screen and (min-width: $screen-md-min)
  .product
    .content
      display: flex
      flex-direction: row

@media only screen and (min-width: $screen-md-min) and (max-width: $screen-md-max)
  .product
    padding: 20px !important

    .content
      font-size: 20px

      .data
        .description
          max-height: 255px

@media only screen and (min-width: $screen-lg-min)
  .product
    padding: 20px !important

    .content
      font-size: 25px
      .data

        .description
          height: 250px
          max-height: 250px
