@import 'functions'
@import 'variables'

@mixin icon($image)
  background: image-url($image) no-repeat
  background-size: contain

@mixin star-on
  @include icon('/assets/app/icons/star-on.svg')

@mixin star-off
  @include icon('/assets/app/icons/star-off.svg')

@mixin price-on
  @include icon('/assets/app/icons/price-on.svg')

@mixin price-off
  @include icon('/assets/app/icons/price-off.svg')

.rating-container
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  -ms-flex-align: center
  -webkit-align-items: center
  -webkit-box-align: center
  align-items: center

  & > div
    margin-right: 10px

  .items
    display: inline-block
    overflow: hidden
    height: 20px

    .rating-group
      float: left
      height: 100%

      input[type='radio']
        opacity: 0
        position: absolute
        z-index: 0
        cursor: default
        height: 0 !important

      input[type='radio'] + label
        z-index: 5
        margin: 0
        text-indent: -2000px
        clear: none
        padding: 9px
        @include star-off

      input[type='radio'] + label.marked,
      input[type='radio']:checked + label
        @include star-on

  .clear-button
    font-size: 11px
    margin-left: 15px !important

.rating-container.rating-enabled
  .items
    .rating-group
      input[type='radio'] + label
        @include star-off

      input[type='radio'] + label.marked,
      input[type='radio'] + label.before-marked
        @include star-on

.rating-container.price
  .score-text
    &::before
      content: 'Average pricing: '
      color: $dark-grey
      @media all
        @media (max-width: 380px)
          content: 'Avg. price: '
        @media (max-width: 320px)
          content: 'Avg: '
  .items
    .rating-group
      input[type='radio'] + label
        @include price-off

      input[type='radio'] + label.marked,
      input[type='radio'] + label.before-marked,
      input[type='radio']:checked + label
        @include price-on


