@import 'functions'

@mixin icon($image)
  background: img-url($image) no-repeat
  background-size: contain

@mixin star-on
  @include icon('icons/star-on.svg')

@mixin star-off
  @include icon('icons/star-off.svg')

@mixin price-on
  @include icon('icons/price-on.svg')

@mixin price-off
  @include icon('icons/price-off.svg')

.rating-container
  .items
    display: inline-block
    overflow: hidden

    .rating-group
      height: 20px
      float: left
      height: 100%

      input[type='radio']
        opacity: 0
        position: absolute
        z-index: 0
        cursor: default

      input[type='radio'] + label
        z-index: 100
        margin: 0
        text-indent: -2000px
        clear: none
        padding: 10px
        @include star-off

      input[type='radio'] + label.marked,
      input[type='radio']:checked + label
        @include star-on

.rating-container.rating-enabled
  .items
    .rating-group
      input[type='radio'] + label
        @include star-off

      input[type='radio'] + label.marked,
      input[type='radio'] + label.before-marked
        @include star-on

    &:hover
      .rating-group
        input[type='radio'] + label
          @include star-off
          cursor: pointer

        input[type='radio'] + label.hover
          @include star-on
          cursor: pointer

.rating-container.price
  .items
    .rating-group
      input[type='radio'] + label
        @include price-off

      input[type='radio'] + label.marked,
      input[type='radio'] + label.before-marked,
      input[type='radio']:checked + label
        @include price-on

  &.rating-enabled
    .items
      &:hover
        .rating-group
          input[type='radio'] + label
            @include price-off

          input[type='radio'] + label.hover
            @include price-on
