@import 'functions'

.section
  margin: 30px 0 0 0
  padding: 0

  & > .header
    @extend .row
    margin: 0
    display: block
    padding: 0 20px
    clear: both
    width: 100%

    .section-title, .customHeaderTag
      padding: 20px 0

    h2
      @extend .col-xs-8
      @extend .col-sm-6

      background: no-repeat left center
      background-size: 30px
      margin: 0
      color: #3c3c3b
      font-size: 18.75px

      &.section-title
        font-style: italic
        padding-left: 50px

    .customHeaderTag
      @extend .col-xs-4
      @extend .col-sm-6

      float:right
      text-align: right

      .hide-section,
      .show-section
        color: #3c3c3b
        text-decoration: none
        font-weight: bold
        font-size: 14px

        &:hover
          text-transform: none

        i
          font-weight: 100
          padding: 5px 10px

  .show-more-container
    margin: 30px 0
    text-align: center
    float: left
    width: 100%

    .show-more
      text-transform: uppercase
      margin: 0 auto
      padding: 15px 80px
      font-weight: bolder
      font-size: 12px
      background: white
      border: 1px solid
      outline: none
      @include border-radius(30px)

// ==========  Mobile First Method  ==========
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
  .section
    & > .header
      h2
        &.section-title
          padding-left: 50px

      .hide-section,
      .show-section
        font-size: 13px
        font-weight: normal

// Extra Small Devices, Phones
@media only screen and (min-width : 480px)

// Small Devices, Tablets
@media only screen and (min-width : 768px)

// Medium Devices, Desktop
@media only screen and (min-width : 992px)
  .section
    margin: 60px 0 0 0
    padding: 10px 0 0 0

    & > .header
      margin: 0
      display: block
      padding: 0 20px

      h2
        font-size: 20px

        &.section-title
          padding-left: 60px

  .work-area-section
    .section
      margin: 0px
      padding: 0px


// Large Devices, Wide Screens
@media only screen and (min-width : 1200px)

// Really Large Devices, Wide Screens
@media (min-width: 1330px)
