@import 'functions'

.section
  margin: 60px 0 0 0
  padding: 10px 0 0 0

  & > .header
    margin: 30px 0
    display: flex
    flex-direction: row
    justify-content: space-between

    h2
      background: no-repeat left bottom
      background-size: 40px
      margin: 0
      color: #3c3c3b
      font-size: 31.25px
      padding: 20px 0 0
      align-self: flex-end

      &.section-title
        font-style: italic
        padding-left: 80px

    .hide-section,
    .show-section
      display: flex
      align-items: flex-end
      color: #3c3c3b
      text-decoration: none
      font-weight: bold
      font-size: 17px

      &:hover
        text-transform: none

      i
        font-weight: 100
        padding: 5px 10px

  .show-more-container
    margin: 30px 0
    text-align: center

    .show-more
      text-transform: uppercase
      margin: 0 auto
      padding: 15px 80px
      font-weight: bolder
      font-size: 12px
      background: white
      border: 1px solid
      outline: none
      @include border-radius(30px)

@media only screen and (max-width: $screen-sm-max)
  .section
    margin: 60px 0 0 0
    padding: 0

    & > .header
      h2
        background-size: 30px
        padding: 10px 0 0
        font-size: 18.75px

        &.section-title
          font-style: italic
          padding-left: 60px

      .hide-section,
      .show-section
        font-size: 13px
        font-weight: normal
