@import "variables"

.tag-holder
  .tags
    .tag
      display: inline-block
      color: $orange
      border: 1px solid $orange
      padding: 3px 5px
      margin: 2px
      border-radius: 2px
      cursor: pointer


    &.white
      .tag
        color: white
        border-color: white
        background-color: $orange

  .product-name
    font-weight: bold

.left-bar
  margin-bottom: 15px

.tags-page
  margin-top: 50px

  a
    text-decoration: none
    &.active, &:active, &:focus, &:hover
      color: $primary-red
      text-decoration: none

  .tag-page-link
    padding: 2px
    text-transform: uppercase
    color: $dark-grey
    display: inline-block

  .tagged-in
    color: $dark-grey
    border-bottom: 1px solid $grey
    font-size: 13px
    padding-bottom: 7px
    padding-top: 7px
    margin-bottom: 5px
    display: block

  .tag-name
    margin-top: 10px
    margin-bottom: 10px
    font-size: 40px
    color: $orange
    width: 100%
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis