@import "variables"
=tag-og-inverted
  color: white
  background-color: $orange
  border-color: white

.tag-holder
  &, .tag
    position: relative
  .tag
    display: inline-block
    color: $orange
    border: 1px solid $orange
    padding: 3px 5px
    margin: 5px 10px 5px 10px
    border-radius: 2px
    cursor: pointer
    &:hover
      +tag-og-inverted
  &.white
    .tag
      +tag-og-inverted

  .product-name
    font-weight: bold

.tag-header
  margin: 10px 0 60px 0
  .title
    font-size: 30px
  .created_by
    font-size: 11px
  .description
    margin-top: 10px
  .user-buttons
    display: flex
    align-content: flex-end
    justify-content: flex-end

.tags-page
  margin-top: 50px

  .header
    position: relative

  a
    text-decoration: none
    &.active, &:active, &:focus, &:hover
      color: $primary-red
      text-decoration: none

  .tag-page-link
    padding: 2px
    text-transform: uppercase
    color: $dark-grey
    display: inline-block

  .tagged-in
    @extend .col-xs-4
    @extend .col-sm-12

    font-size: 15px
    color: $dark-grey
    border-bottom: 1px solid $grey
    padding: 0
    padding-bottom: 7px
    padding-top: 7px
    margin-bottom: 5px
    display: block
    text-transform: uppercase

  .btn.btn-white.btn-round
    border-color: $orange
    color: $orange
    width: auto
    padding: 5px 40px

    &:hover
      color: white
      background-color: $orange
      border-color: $orange

  .results
    .top
      padding-bottom: 20px

      .top-left
        font-weight: bold

  .tag-name
    margin-top: 10px
    margin-bottom: 10px
    font-size: 20px
    color: $orange
    width: 100%


/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
  .tags-page
    margin-top: 0px

    .back-bar
      margin-top: -5px

    .row
      margin: 0


    .tag-header
      margin: 0

    .left-bar
      &::after
        content: ''
        display: table
        clear: both

    .tagged-in, .tag-name, .follow-button-container, .results .top
      padding: 15px

      .btn.btn-white.btn-round
        background-color: $orange
        color: white
        border-color: $orange
        width: auto
        padding: 5px 40px

    .tagged-in
      display: block
      width: 100%
      color: $primary-red
      border-bottom: 2px solid $primary-red
      float: left
      font-family: 'Open Sans', sans-serif
      font-size: 14px
      font-weight: bold
      letter-spacing: 1.75px
      line-height: 15.4px
      padding: 10px 0
      text-transform: uppercase

    .tag-page-link
      float: left
      display: block
      margin: 10px
      padding: 10px
      width: 30px
      height: 30px


    .tag-name
      margin: 0

    .results
      .top
        .dropdown-container
          font-size: 12px

          .dropdown-label
            display: none

      .products
        .result
          .description
            display: none

          .image-container
            img
              min-width: 100%
              min-height: 100%

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
